<launch>
    <arg name="intput_route_topic_name" default="/planning/mission_planning/route"/>
    <arg name="map_topic_name" default="/lanelet_map_bin"/>
    <node pkg="route2path_converter" type="route2path_converter_node" name="route2path_converter" output="screen">
      <remap from="~input/route" to="$(arg intput_route_topic_name)"/>
      <remap from="~input/lanelet_map_bin" to="$(arg map_topic_name)"/>
      <remap from="~output/path" to="path"/>
    </node>
  </launch>
  