<!-- -->
<launch>
  <!-- frame arguments-->
  <arg name="base_frame_id" default="base_link" />
  <arg name="aipx_frame_id" default="velodyne" />

  <!-- transform arguments-->
  <arg name="base_to_aipx_x" value="1.64" />
  <arg name="base_to_aipx_y" value="0.0" />
  <arg name="base_to_aipx_z" value="1.9" />
  <arg name="base_to_aipx_yaw" value="0.0" />
  <arg name="base_to_aipx_pitch" value="0.0" />
  <arg name="base_to_aipx_roll" value="0.0" />

  <param name="tf_x" type="double" value="$(arg base_to_aipx_x)" />
  <param name="tf_y" type="double" value="$(arg base_to_aipx_y)" />
  <param name="tf_z" type="double" value="$(arg base_to_aipx_z)" />
  <param name="tf_yaw" type="double" value="$(arg base_to_aipx_yaw)" />
  <param name="tf_pitch" type="double" value="$(arg base_to_aipx_pitch)" />
  <param name="tf_roll" type="double" value="$(arg base_to_aipx_roll)" />

  <arg name="vf_x" value="0.0" />
  <arg name="vf_y" value="0.0" />
  <arg name="vf_z" value="0.0" />
  <arg name="vf_roll" value="0.0" />
  <arg name="vf_pitch" value="0.0" />
  <arg name="vf_yaw" value="0.0" />

  <arg name="vfl_x" value="-0.8" />
  <arg name="vfl_y" value="0.37" />
  <arg name="vfl_z" value="0.01" />
  <arg name="vfl_roll" value="0.0" />
  <arg name="vfl_pitch" value="0.087" />
  <arg name="vfl_yaw" value="1.57" />

  <arg name="vfr_x" value="-0.8" />
  <arg name="vfr_y" value="-0.37" />
  <arg name="vfr_z" value="0.01" />
  <arg name="vfr_roll" value="0.0" />
  <arg name="vfr_pitch" value="0.087" />
  <arg name="vfr_yaw" value="-1.57" />

  <arg name="vr_x" value="-1.6" />
  <arg name="vr_y" value="0.0" />
  <arg name="vr_z" value="0.0" />
  <arg name="vr_roll" value="0.0" />
  <arg name="vr_pitch" value="0.087"/>
  <arg name="vr_yaw" value="3.14" />

  <!-- velodyne arguments -->
  <arg name="velodyne_32c_calibration"
       default="$(find velodyne_pointcloud)/params/VeloView-VLP-32C.yaml" />
  <arg name="velodyne_16hr_calibration"
       default="$(find velodyne_pointcloud)/params/VLP16_hires_db.yaml" />
  <arg name="velodyne_16_calibration"
       default="$(find velodyne_pointcloud)/params/VLP16db.yaml" />

  <arg name="velodyne_front_device_ip" default="" />
  <arg name="velodyne_front_port" default="2368" />
  <arg name="velodyne_front_frame_id" default="velodyne_front" />
  <arg name="velodyne_front_manager" default="$(arg velodyne_front_frame_id)_nodelet_manager" />

  <arg name="velodyne_right_device_ip" default="" />
  <arg name="velodyne_right_port" default="2370" />
  <arg name="velodyne_right_frame_id" default="velodyne_right" />
  <arg name="velodyne_right_manager" default="$(arg velodyne_right_frame_id)_nodelet_manager" />

  <arg name="velodyne_left_device_ip" default="" />
  <arg name="velodyne_left_port" default="2371" />
  <arg name="velodyne_left_frame_id" default="velodyne_left" />
  <arg name="velodyne_left_manager" default="$(arg velodyne_left_frame_id)_nodelet_manager" />

  <arg name="velodyne_rear_device_ip" default="" />
  <arg name="velodyne_rear_port" default="2369" />
  <arg name="velodyne_rear_frame_id" default="velodyne_rear" />
  <arg name="velodyne_rear_manager" default="$(arg velodyne_rear_frame_id)_nodelet_manager" />

  <!-- topic arguments -->
  <arg name="velodyne_concat_topic" default="/points_raw" />
  <arg name="velodyne_points_no_ground_topic" default="/points_no_ground" />

  <!-- transform -->
  <node pkg="tf" type="static_transform_publisher"
        name="$(arg base_frame_id)_to_$(arg aipx_frame_id)"
        args="$(arg base_to_aipx_x) $(arg base_to_aipx_y) $(arg base_to_aipx_z)
              $(arg base_to_aipx_yaw) $(arg base_to_aipx_pitch) $(arg base_to_aipx_roll)
              $(arg base_frame_id) $(arg aipx_frame_id) 100" />

  <node pkg="tf" type="static_transform_publisher"
        name="$(arg aipx_frame_id)_to_$(arg velodyne_front_frame_id)"
        args="$(arg vf_x) $(arg vf_y) $(arg vf_z)
              $(arg vf_yaw) $(arg vf_pitch) $(arg vf_roll)
              $(arg aipx_frame_id) $(arg velodyne_front_frame_id) 100" />

  <node pkg="tf" type="static_transform_publisher"
        name="$(arg aipx_frame_id)_to_$(arg velodyne_left_frame_id)"
        args="$(arg vfl_x) $(arg vfl_y) $(arg vfl_z)
              $(arg vfl_yaw) $(arg vfl_pitch) $(arg vfl_roll)
              $(arg aipx_frame_id) $(arg velodyne_left_frame_id) 100" />

  <node pkg="tf" type="static_transform_publisher"
        name="$(arg aipx_frame_id)_to_$(arg velodyne_right_frame_id)"
        args="$(arg vfr_x) $(arg vfr_y) $(arg vfr_z)
              $(arg vfr_yaw) $(arg vfr_pitch) $(arg vfr_roll)
              $(arg aipx_frame_id) $(arg velodyne_right_frame_id) 100" />

  <node pkg="tf" type="static_transform_publisher"
        name="$(arg aipx_frame_id)_to_$(arg velodyne_rear_frame_id)"
        args="$(arg vr_x) $(arg vr_y) $(arg vr_z)
              $(arg vr_yaw) $(arg vr_pitch) $(arg vr_roll)
              $(arg aipx_frame_id) $(arg velodyne_rear_frame_id) 100" />

  <!-- velodyne -->
  <group>
    <!-- velodyne front -->
    <group ns="$(arg velodyne_front_frame_id)">
      <node pkg="nodelet" type="nodelet" name="$(arg velodyne_front_manager)" args="manager" />
      <node pkg="nodelet" type="nodelet" name="$(arg velodyne_front_manager)_driver"
            args="load velodyne_driver/DriverNodelet $(arg velodyne_front_manager)" >
        <param name="device_ip" value="$(arg velodyne_front_device_ip)" />
        <param name="frame_id" value="$(arg velodyne_front_frame_id)" />
        <param name="model" value="32C" />
        <param name="pcap" value="" />
        <param name="port" value="$(arg velodyne_front_port)" />
        <param name="read_fast" value="false" />
        <param name="read_once" value="false" />
        <param name="repeat_delay" value="0.0" />
        <param name="rpm" value="600.0" />
      </node>
      <node pkg="nodelet" type="nodelet" name="$(arg velodyne_front_manager)_cloud"
            args="load velodyne_pointcloud/CloudNodelet $(arg velodyne_front_manager)">
        <param name="calibration" value="$(arg velodyne_32c_calibration)" />
        <param name="max_range" value="130.0" />
        <param name="min_range" value="1.0" />
      </node>
    </group>

    <!-- velodyne right  -->
    <group ns="$(arg velodyne_right_frame_id)">
      <node pkg="nodelet" type="nodelet" name="$(arg velodyne_right_manager)" args="manager" />
      <node pkg="nodelet" type="nodelet" name="$(arg velodyne_right_manager)_driver"
            args="load velodyne_driver/DriverNodelet $(arg velodyne_right_manager)" >
        <param name="device_ip" value="$(arg velodyne_right_device_ip)" />
        <param name="frame_id" value="$(arg velodyne_right_frame_id)" />
        <param name="model" value="VLP16" />
        <param name="pcap" value="" />
        <param name="port" value="$(arg velodyne_right_port)" />
        <param name="read_fast" value="false" />
        <param name="read_once" value="false" />
        <param name="repeat_delay" value="0.0" />
        <param name="rpm" value="600.0" />
      </node>
      <node pkg="nodelet" type="nodelet" name="$(arg velodyne_right_manager)_cloud"
            args="load velodyne_pointcloud/CloudNodelet $(arg velodyne_right_manager)">
        <param name="calibration" value="$(arg velodyne_16_calibration)" />
        <param name="max_range" value="130.0" />
        <param name="min_range" value="1.0" />
      </node>
    </group>

    <!-- velodyne rear -->
    <group ns="$(arg velodyne_rear_frame_id)">
      <node pkg="nodelet" type="nodelet" name="$(arg velodyne_rear_manager)" args="manager" />
      <node pkg="nodelet" type="nodelet" name="$(arg velodyne_rear_manager)_driver"
            args="load velodyne_driver/DriverNodelet $(arg velodyne_rear_manager)" >
        <param name="device_ip" value="$(arg velodyne_rear_device_ip)" />
        <param name="frame_id" value="$(arg velodyne_rear_frame_id)" />
        <param name="model" value="VLP16" />
        <param name="pcap" value="" />
        <param name="port" value="$(arg velodyne_rear_port)" />
        <param name="read_fast" value="false" />
        <param name="read_once" value="false" />
        <param name="repeat_delay" value="0.0" />
        <param name="rpm" value="600.0" />
      </node>
      <node pkg="nodelet" type="nodelet" name="$(arg velodyne_rear_manager)_cloud"
            args="load velodyne_pointcloud/CloudNodelet $(arg velodyne_rear_manager)">
        <param name="calibration" value="$(arg velodyne_16_calibration)" />
        <param name="max_range" value="130.0" />
        <param name="min_range" value="1.0" />
      </node>
    </group>

    <!-- velodyne left -->
    <group ns="$(arg velodyne_left_frame_id)">
      <node pkg="nodelet" type="nodelet" name="$(arg velodyne_left_manager)" args="manager" />
      <node pkg="nodelet" type="nodelet" name="$(arg velodyne_left_manager)_driver"
            args="load velodyne_driver/DriverNodelet $(arg velodyne_left_manager)" >
        <param name="device_ip" value="$(arg velodyne_left_device_ip)" />
        <param name="frame_id" value="$(arg velodyne_left_frame_id)" />
        <param name="model" value="VLP16" />
        <param name="pcap" value="" />
        <param name="port" value="$(arg velodyne_left_port)" />
        <param name="read_fast" value="false" />
        <param name="read_once" value="false" />
        <param name="repeat_delay" value="0.0" />
        <param name="rpm" value="600.0" />
      </node>
      <node pkg="nodelet" type="nodelet" name="$(arg velodyne_left_manager)_cloud"
            args="load velodyne_pointcloud/CloudNodelet $(arg velodyne_left_manager)">
        <param name="calibration" value="$(arg velodyne_16_calibration)" />
        <param name="max_range" value="130.0" />
        <param name="min_range" value="1.0" />
      </node>
    </group>

    <!-- points concat filter -->
    <include file="$(find points_preprocessor)/launch/points_concat_filter.launch">
      <arg name="input_topics" value="[
        $(arg velodyne_front_frame_id)/velodyne_points,
        $(arg velodyne_rear_frame_id)/velodyne_points,
        $(arg velodyne_right_frame_id)/velodyne_points,
        $(arg velodyne_left_frame_id)/velodyne_points ]" />
      <arg name="output_topic" value="$(arg velodyne_concat_topic)" />
      <arg name="output_frame_id" value="$(arg aipx_frame_id)" />
    </include>
  </group>

</launch>
