<?xml version="1.0"?>
<launch>
  <arg name="prefix" default="auto" />
  <node pkg="rosbag" type="record" name="rosbag_record" output="screen"
  args="-o ../$(arg prefix)

  /as/arbitrated_speed_commands
  /as/arbitrated_steering_commands
  /as/blind_spot_indicators
  /as/brake_command_echo
  /as/brake_feedback
  /as/curvature_feedback
  /as/dbw_enabled_feedback
  /as/gear_command_echo
  /as/gear_feedback
  /as/gear_select
  /as/hill_start_assist
  /as/module_states
  /as/speed_model_logging
  /as/speed_pedals
  /as/steering_command_echo
  /as/steering_feedback
  /as/steering_wheel
  /as/throttle_command_echo
  /as/throttle_feedback
  /as/turn_signal_command
  /as/velocity_accel
  /as/velocity_accel_cov
  /base_waypoints
  /based/lane_waypoints_array
  /based/lane_waypoints_raw
  /camera_info
  /can_twist
  /closest_waypoint
  /cluster_centroids
  /current_lane_id
  /current_pose
  /current_velocity
  /decision_maker/state
  /detected_polygons
  /detection/lidar_detector/cloud_clusters
  /detection/lidar_detector/objects
  /detection/lidar_detector/objects_markers
  /detection/object_tracker/objects
  /detection/object_tracker/objects_markers
  /detection/objects
  /detection_range
  /deviation_of_current_position
  /diagnostics
  /ekf_localizer/debug
  /ekf_localizer/estimated_yaw_bias
  /ekf_localizer/my_ndt_pose
  /ekf_pose
  /ekf_pose_with_covariance
  /ekf_twist
  /emergency_stop
  /estimate_twist
  /estimated_vel
  /estimated_vel_kmph
  /estimated_vel_mps
  /filtered_points
  /final_waypoints
  /fix
  /global_waypoints_mark
  /global_waypoints_rviz
  /gnss_pose
  /gnss_stat
  /green_waypoints_array
  /grid_map_filter_visualization/distance_transform
  /grid_map_filter_visualization/distance_transform_updates
  /health_aggregator/error_text
  /health_aggregator/fatal_text
  /health_aggregator/ok_text
  /health_aggregator/warn_text
  /image_raw/compressed
  /imu_raw
  /lane_select_marker
  /lane_waypoints_array
  /light_color
  /light_color_managed
  /line_point_mark
  /linear_velocity_viz
  /local_trajectories
  /local_waypoints_mark
  /localizer_pose
  /move_base_simple/goal
  /ndt_monitor/ndt_info_text
  /ndt_pose
  /ndt_pose_with_covariance
  /ndt_reliability
  /ndt_stat
  /next_target_mark
  /next_target_mark_array
  /next_waypoint_mark
  /nmea_sentence
  /node_status
  /obstacle
  /obstacle_waypoint
  /pacmod/as_rx/accel_cmd
  /pacmod/as_rx/brake_cmd
  /pacmod/as_rx/enable
  /pacmod/as_rx/headlight_cmd
  /pacmod/as_rx/horn_cmd
  /pacmod/as_rx/shift_cmd
  /pacmod/as_rx/steer_cmd
  /pacmod/as_rx/turn_cmd
  /pacmod/as_tx/all_system_statuses
  /pacmod/as_tx/enabled
  /pacmod/as_tx/vehicle_speed
  /pacmod/can_rx
  /pacmod/can_tx
  /pacmod/parsed_tx/accel_aux_rpt
  /pacmod/parsed_tx/accel_rpt
  /pacmod/parsed_tx/brake_aux_rpt
  /pacmod/parsed_tx/brake_rpt
  /pacmod/parsed_tx/component_rpt
  /pacmod/parsed_tx/date_time_rpt
  /pacmod/parsed_tx/global_rpt
  /pacmod/parsed_tx/headlight_aux_rpt
  /pacmod/parsed_tx/headlight_rpt
  /pacmod/parsed_tx/horn_rpt
  /pacmod/parsed_tx/lat_lon_heading_rpt
  /pacmod/parsed_tx/parking_brake_status_rpt
  /pacmod/parsed_tx/shift_aux_rpt
  /pacmod/parsed_tx/shift_rpt
  /pacmod/parsed_tx/steer_aux_rpt
  /pacmod/parsed_tx/steer_pid_rpt_1
  /pacmod/parsed_tx/steer_pid_rpt_2
  /pacmod/parsed_tx/steer_pid_rpt_3
  /pacmod/parsed_tx/steer_pid_rpt_4
  /pacmod/parsed_tx/steer_rpt
  /pacmod/parsed_tx/turn_aux_rpt
  /pacmod/parsed_tx/turn_rpt
  /pacmod/parsed_tx/vehicle_speed_rpt
  /pacmod/parsed_tx/vin_rpt
  /pacmod/parsed_tx/wheel_speed_rpt
  /pacmod/parsed_tx/yaw_rate_rpt
  /points_no_ground
  /points_raw
  /points_raw_front
  /predict_pose
  /predict_pose_imu
  /predict_pose_imu_odom
  /predict_pose_odom
  /prediction/motion_predictor/objects
  /prediction/motion_predictor/objects_markers
  /prediction/motion_predictor/path_markers
  /red_waypoints_array
  /safety_waypoints
  /semantics/costmap
  /semantics/costmap_generator/occupancy_grid
  /state
  /state/stopline_wpidx
  /state_cmd
  /steer_cmd
  /tf
  /tf_static
  /time_ndt_matching
  /time_reference
  /traffic_waypoints_array
  /trajectory_circle_mark
  /trajectory_circle_mark_array
  /twist_cmd
  /twist_raw
  /vehicle/engage
  /vehicle/odom
  /vehicle/twist
  /vehicle_cmd
  /vehicle_location
  /vehicle_status
  /vehicle_status_converter/convert_correction_coeff
  /vel
  /velodyne_front/velodyne_packets
  /velodyne_left/velodyne_packets
  /velodyne_rear/velodyne_packets
  /velodyne_right/velodyne_packets
  /vmap_stat
  /waypoint_guide
  /waypoint_guide_array
  /waypoint_saver_marker
  /decision_maker/available_transition
  /decision_maker/operator_help_text
  /decision_maker/state
  /decision_maker/state_msg
  /decision_maker/state_overlay
  /decision_maker/stop_location
  /lamp_cmd
  /light_color_managed
  /target_velocity_array
  /mpc_follower/debug/filtered_traj
  /mpc_follower/debug/mpc_calc_time
  /mpc_follower/debug/predicted_traj
  /mpc_waypoints
  /remote_cmd
  " />
</launch>
