<?xml version="1.0"?>

<launch>
  <!-- common parameters -->

  <!-- control module -->
  <group ns="control">
    <include file="$(find mpc_follower)/launch/mpc_follower.launch">
    </include>
    <include file="$(find velocity_controller)/launch/velocity_controller.launch">
    </include>
    <node pkg="latlon_muxer" type="latlon_muxer" name="latlon_muxer" output="screen">
      <remap from="~input/lateral/control_cmd" to="lateral/control_cmd"/>
      <remap from="~input/longitudinal/control_cmd" to="longitudinal/control_cmd"/>
      <remap from="~output/control_cmd" to="control_cmd"/>
    </node>

    <include file="$(find vehicle_cmd_gate)/launch/vehicle_cmd_gate.launch">
    </include>
  </group>
</launch>
