<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Vehicle Setting -->
  <include file="$(find vehicle_description)/launch/vehicle_description.launch" />

  <!-- Map -->
  <include file="$(find map_launch)/launch/map.launch" >
    <arg name="lanelet_map_path" default=""/>
    <arg name="points_map_path" default=""/>
    <arg name="map_tf_path" default=""/>
  </include>

  <!-- Sensing -->

  <!-- Localization -->

  <!-- Perception -->
  <include file="$(find perception_launch)/launch/perception.launch" >
    <arg name="mode" default="lidar"/>  <!-- "camera_lidar_fusion", "lidar" or "camera" -->
  </include>

  <!-- Traffic Light Recognition -->
  <!-- Planning -->
  <!-- Control -->

</launch>