<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Vehicle Setting -->
  <include file="$(find vehicle_description)/launch/vehicle_description.launch" />

  <!-- Map -->
  <include file="$(find map_launch)/launch/map.launch" >
    <arg name="lanelet_map_path" default="/home/kosuke/data/peoria/peoria_autoware_lanelet_20191124.osm"/>
    <arg name="pointcloud_map_path" default="/home/kosuke/data/peoria/bin-0.2-mandli_lidar_map.pcd"/>
    <arg name="map_tf_path" default="/home/kosuke/data/peoria/tf.launch"/>
  </include>

  <include file="$(find simple_planning_simulator)/launch/simple_planning_simulator.launch" />
  
  
  

  <!-- Planning -->
  <arg name="path_topic" default="/path_loader/path" />
  <include file="$(find path_loader)/launch/path_loader.launch">
    <arg name="file_name" default="$(find path_loader)/data/peoria_path.csv" />
    <arg name="output_path_topic" default="$(arg path_topic)" />
  </include>
  <include file="$(find motion_planner)/launch/motion_planner.launch">
    <arg name="input_path_topic" default="$(arg path_topic)" />
  </include>
  
  <!-- Control -->
  
  <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="rviz" output="screen" />
</launch>