<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="city_config_path"/>
  <arg name="lanelet_map_path" default="$(arg city_config_path)/lanelet2_map.osm"/>
  <arg name="pointcloud_map_path" default="$(arg city_config_path)/pointcloud_map.pcd"/>
  <arg name="map_tf_path" default="$(arg city_config_path)/tf.launch"/>

  <!-- Vehicle Setting -->
  <include file="$(find vehicle_description)/launch/vehicle_description.launch" />

  <!-- Map -->
  <include file="$(find map_launch)/launch/map.launch">
    <arg name="lanelet_map_path" value="$(arg lanelet_map_path )"/>
    <arg name="pointcloud_map_path" value="$(arg pointcloud_map_path)"/>
    <arg name="map_tf_path" value="$(arg map_tf_path)"/>
  </include>

  <!-- Planning Simulator -->
  <include file="$(find simple_planning_simulator)/launch/simple_planning_simulator.launch" />

  <!-- Dummy Perception -->
  <include file="$(find dummy_perception_publisher)/launch/dummy_perception_publisher.launch" />

  <!-- Planning -->
  <include file="$(find planning_launch)/launch/planning.launch">
    <arg name="is_online_path_update" default="true"/>
  </include>

  <!-- Control -->
  <include file="$(find control_launch)/launch/control.launch">
  </include>

  <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find autoware_launch)/rviz/autoware.rviz" />

  <!-- Web Controller -->
  <include file="$(find roswww)/launch/roswww.launch">
    <arg name="cached" default="false"/>
  </include>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

</launch>
