<launch>
    <arg name="is_online_path_update" default="true"/>
    <arg name="num_lookup_lanelet_for_drivealble_area" default="4"/>
    <!-- planning module -->
    <group ns="planning">
        <!-- mission planning module -->
        <group ns="mission_planning">
            <include file="$(find planning_launch)/launch/mission_planning/mission_planning.launch">
            </include>
        </group>
        <!-- behavior planning module -->
        <group ns="scenario_planning/scenarios/lane_following/behavior_planning">
            <include file="$(find planning_launch)/launch/behavior_planning/behavior_planning.launch">
            </include>
        </group>
        <!-- motion planning module -->
        <group ns="scenario_planning/scenarios/lane_following/motion_planning">
            <include file="$(find planning_launch)/launch/motion_planning/motion_planning.launch">
                <arg name="is_online_path_update" value="$(arg is_online_path_update)"/>
                <arg name="num_lookup_lanelet_for_drivealble_area" value="$(arg num_lookup_lanelet_for_drivealble_area)"/>
            </include>
        </group>
    </group>
</launch>
