<?xml version="1.0"?>
<launch>
    <!-- localization module -->
    <group ns="localization">
        <!-- pose_generator module -->
        <group ns="pose_generator">
            <include file="$(find localization_launch)/launch/pose_generator/pose_generator.launch">
            </include>
        </group>
        <!-- twist_generator module -->
        <group ns="twist_generator">
            <include file="$(find localization_launch)/launch/twist_generator/twist_generator.launch">
            </include>
        </group>
        <!-- pose_fixer module -->
        <group ns="pose_fixer">
            <include file="$(find localization_launch)/launch/pose_fixer/pose_fixer.launch">
            </include>
        </group>
    </group>
</launch>
