<launch>
  <!-- Autoware: vehicle interface for pacmod -->
  <group ns="vehicle">
    <include file="$(find as)/launch/pacmod_interface.launch">
    </include>
  </group>

    <!-- Vehicle: Autonomoustuff pacmod module -->
    <include file="$(find as_config)/launch/pacmod3.launch">
    </include>
</launch>
