<?xml version="1.0" encoding="UTF-8" ?>
<launch>

  <arg name="use_real_camera_yaml" default="true" />

  <group if="$(arg use_real_camera_yaml)">
    <arg name="filename" default="$(find sensing_launch)/data/traffic_light_camera.yaml" />
    <node pkg="yaml_to_camerainfo" type="yaml_to_camera_info.py" name="front_camera_info_publisher" output="log" respawn="false" respawn_delay="0" args="">
      <param name="filename" value="$(arg filename)" />
      <param name="cameraname" value="traffic_light/camera" />
      <param name="frame_id" value="traffic_light/camera_optical_link" />
    </node>
  </group>

  <group unless="$(arg use_real_camera_yaml)">
    <arg name="filename" default="$(find yaml_to_camerainfo)/data/traffic_light_camera.yaml" />
    <node pkg="yaml_to_camerainfo" type="yaml_to_camera_info.py" name="front_camera_info_publisher" output="log" respawn="false" respawn_delay="0" args="">
      <param name="filename" value="$(arg filename)" />
      <param name="cameraname" value="traffic_light/camera" />
      <param name="frame_id" value="traffic_light/camera_optical_link" />
    </node>
  </group>

  <node name="camera_info_relay" pkg="topic_tools" type="relay" args="/traffic_light/camera/camera_info /sensing/camera/traffic_light/camera_info" />

</launch>