<?xml version="1.0"?>
<robot name="vehicle" 
  xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find velodyne_description)/urdf/HDL-32E.urdf.xacro"/>
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <xacro:include filename="$(find camera_description)/urdf/monocular_camera.xacro"/>
  <xacro:include filename="$(find imu_description)/urdf/imu.xacro"/>
  <xacro:include filename="$(find vehicle_description)/urdf/aipxx.xacro"/>

  <!-- <xacro:property name="pi" value="3.1415926835897931"/> -->
  <xacro:arg name="gpu" default="false"/>

  <!-- load parameter -->
  <xacro:property name="vehicle_info" value="${load_yaml('$(find vehicle_description)/config/vehicle_info.yaml')}"/>
  <!-- set parameter -->
  <xacro:property name="wheel_radius" value="${vehicle_info['wheel_radius']}"/>
  <xacro:property name="wheel_width" value="${vehicle_info['wheel_width']}"/>
  <xacro:property name="wheel_base" value="${vehicle_info['wheel_base']}"/>
  <xacro:property name="wheel_tread" value="${vehicle_info['wheel_tread']}"/>
  <xacro:property name="front_overhang" value="${vehicle_info['front_overhang']}"/>
  <xacro:property name="rear_overhang" value="${vehicle_info['rear_overhang']}"/>
  <xacro:property name="vehicle_length" value="${vehicle_info['vehicle_length'}"/>
  <xacro:property name="vehicle_width" value="${vehicle_info['vehicle_width'}"/>
  <xacro:property name="vehicle_height" value="${vehicle_info['vehicle_height'}"/>

  <!-- vehicle body -->
  <link name="base_link">
    <visual>
      <origin xyz="${wheel_base/2.0} 0 0" rpy="${pi/2.0} 0 ${pi}"/>
      <geometry>
        <mesh filename="package://vehicle_description/mesh/lexus.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <!-- sensors -->
  <xacro:property name="calibration" value="${load_yaml('$(find vehicle_description)/config/sensors_calibration.yaml')}"/>
  <!-- aipxx -->
  <xacro:aipxx_macro parent="base_link" x="${calibration['base_link2aipxx_base_link']['x']}" y="${calibration['base_link2aipxx_base_link']['y']}" z="${calibration['base_link2aipxx_base_link']['z']}" roll="${calibration['base_link2aipxx_base_link']['roll']}" pitch="${calibration['base_link2aipxx_base_link']['pitch']}" yaw="${calibration['base_link2aipxx_base_link']['yaw']}" />
  <!-- imu -->
  <xacro:imu_macro suffix="gx5/imu" parent="base_link" namespace="" x="${calibration['base_link2imu_gx5']['x']}" y="${calibration['base_link2imu_gx5']['y']}" z="${calibration['base_link2imu_gx5']['z']}" roll="${calibration['base_link2imu_gx5']['roll']}" pitch="${calibration['base_link2imu_gx5']['pitch']}" yaw="${calibration['base_link2imu_gx5']['yaw']}" fps="100" />
  <xacro:imu_macro suffix="tamagawa/imu" parent="base_link" namespace="" x="${calibration['base_link2imu_tamagawa']['x']}" y="${calibration['base_link2imu_tamagawa']['y']}" z="${calibration['base_link2imu_tamagawa']['z']}" roll="${calibration['base_link2imu_tamagawa']['roll']}" pitch="${calibration['base_link2imu_tamagawa']['pitch']}" yaw="${calibration['base_link2imu_tamagawa']['yaw']}" fps="100" />
  <!-- gnss -->
  <xacro:imu_macro suffix="gnss" parent="base_link" namespace="" x="${calibration['base_link2gnss']['x']}" y="${calibration['base_link2gnss']['y']}" z="${calibration['base_link2gnss']['z']}" roll="${calibration['base_link2gnss']['roll']}" pitch="${calibration['base_link2gnss']['pitch']}" yaw="${calibration['base_link2gnss']['yaw']}" fps="100" />

</robot>
