<launch>
  <node pkg="scenario_selector" type="scenario_selector" name="scenario_selector" output="screen">
    <param name="update_rate" value="10.0" />
    <param name="th_max_message_delay_sec" value="0.5" />
    <param name="th_stopping_time_sec" value="1.0" />
    <param name="th_stopping_distance_m" value="1.0" />
    <param name="th_stopping_velocity_mps" value="0.01" />

    <remap from="~input/lane_following/trajectory" to="/planning/scenario_planning/scenarios/lane_following/motion_planning/trajectory"/>
    <remap from="~input/parking/trajectory" to="/planning/scenario_planning/scenarios/parking/freespace_planning/astar_navi/trajectory"/>
    <remap from="~input/lanelet_map" to="/lanelet_map_bin"/>
    <remap from="~input/route" to="/planning/mission_planning/route"/>
    <remap from="~input/twist" to="/vehicle/status/twist"/>
    <remap from="~output/scenario" to="/planning/scenario_planning/scenario"/>
    <remap from="~output/trajectory" to="/planning/scenario_planning/trajectory"/>
    <remap from="is_parking_completed" to="/planning/scenario_planning/scenarios/parking/freespace_planning/astar_navi/is_completed"/>
  </node>
</launch>
