<launch>

  <arg name="launch_driver" default="true" />

  <group ns="imu">
    <remap from="gx5/imu/data" to="imu_raw" />
    <include file="$(find microstrain_mips)/launch/microstrain.launch"  if="$(eval launch_driver==true)">
      <arg name="port" value="/dev/ttyACM0" />
      <arg name="imu_frame_id" value="imu" />
    </include>
  </group>

</launch>
