<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- load parameter -->
  <xacro:property name="vehicle_info" value="${load_yaml('$(find milee_description)/config/vehicle_info.yaml')}"/>

  <!-- vehicle body -->
  <link name="base_link">
    <visual>
      <origin xyz="1.1 0 0" rpy="1.57 0 4.71"/>
      <geometry>
        <mesh filename="package://milee_description/mesh/milee.dae" scale="1.5 1.5 1.5"/>
      </geometry>
    </visual>
  </link>

</robot>
