<launch>

  <arg name="input/image" default="image_raw" />
  <arg name="input/rois" default="rois" />
  <arg name="output/traffic_light_states" default="traffic_light_states" />
  

  <node name="traffic_light_classifier"
        pkg="traffic_light_classifier" type="traffic_light_classifier_node"
        output="screen">
    <remap from="~input/image" to="$(arg input/image)" />
    <remap from="~input/rois" to="$(arg input/rois)" />
    <remap from="~output/traffic_light_states" to="$(arg output/traffic_light_states)" />
  </node>

</launch>
