<launch>

  <arg name="input/image" default="image_raw" />
  <arg name="input/rois" default="rois" />
  <arg name="output/traffic_light_states" default="traffic_light_states" />
  

  <node name="traffic_light_classifier"
        pkg="traffic_light_classifier" type="traffic_light_classifier_node"
        output="screen">
    <remap from="~input/image" to="$(arg input/image)" />
    <remap from="~input/rois" to="$(arg input/rois)" />
    <remap from="~output/traffic_light_states" to="$(arg output/traffic_light_states)" />
    <rosparam subst_value="true">
      green_max        : [150, 255, 255]
      green_min        : [80,  50, 120]
      yellow_max       : [40, 255, 255]
      yellow_min       : [30, 50, 120]
      red_max          : [20, 255, 255]
      red_min          : [0  , 50 , 180]
    </rosparam>
  </node>

</launch>
