<launch>
  <arg name="file_name" default="$(find path_loader)/data/sample.csv" />
  <arg name="output_path_topic" default="/behavior_planning/path" />
  <node pkg="path_loader" type="path_loader_node" name="path_loader" output="screen">
    <remap from="path" to="$(arg output_path_topic)" />
    <param name="path_file_name" value="$(arg file_name)" />
  </node>
</launch>